streamlit==1.34.0
streamlit-folium==0.18.0
folium==0.16.0
pyrebase4==5.0.0
twilio==9.0.3
python-dotenv==1.0.1
Pillow==10.3.0
requests==2.31.0

# Include if using torch (PyTorch model inference)
torch==2.3.0
torchvision==0.18.0

# Optional: if you're using numpy, pandas etc.
numpy==1.26.4
