streamlit==1.45.1
streamlit-folium==0.18.0
folium==0.16.0
pandas==2.2.3
numpy==2.2.6
Pillow==11.2.1
requests==2.32.3
pyarrow==20.0.0
python-dateutil==2.9.0.post0
firebase-admin==6.5.0
pyrebase4==4.8.0  # Latest compatible version
ultralytics
twilio
